.Question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selectBtn {
  width: 300px;
  margin-bottom: 10px;
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.image {
  width: 300px;
  margin-bottom: 20px;
}
