.Result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.selectedImg {
  width: 300px;
}
.title {
  text-align: center;
}
.button {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.que {
  text-align: center;
}

.btn {
  width: 400px;
  font-size: 20px;
}
.btn_kakao {
  background-color: #ffdc02;
  color: black;
}
.result_title {
  text-align: center;
}
.reason_title {
  text-align: center;
}
.hashtags {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.hashtag {
  font-size: 10px;
  background-color: #c2b6b6;
  padding: 5px 5px;
  border-radius: 10px;
  color: white;
}
.reason_text {
  padding: 10px 20px;
}
