.Home {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0px;
  font-weight: bold;
}
.home_title {
  font-size: 20px;
  background-color: antiquewhite;
  padding: 10px 20px;
  border-radius: 25px;
}
.subTitle {
  font-size: 18px;
  text-decoration: underline;
}
.btn {
  font-size: 20px;
  border: none;
  padding: 25px 25px;
  background-color: burlywood;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
